 .bar {
     fill: steelblue;
 }

 .bar:hover {
     fill: orangered;
 }

 .axis--x path {
     display: none;
 }

 .axis text {
     font: 11px calibri;
     font-weight: bold;
     /*-webkit-transform: rotate(7deg);*/
 }

 div.tooltip {
     position: absolute;
     text-align: center;
     width: 395px;
     height: 50px;
     padding: 2px;
     font: 13px calibri;
     background: lightsteelblue;
     border: 0px;
     border-radius: 8px;
     pointer-events: none;
     font-weight: bold;
     color: black;
 }

 body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1.6em;
 }

 h1, h2, h3, h4, h5 {
     font-family: 'Roboto Slab', serif;
 }

 h1 {
     font-size: 1.0em;
     margin: 1.0em 2;
     line-height: 0.1;
     color: #3d4449;
     font-weight: 600;
 }

 h2 {
     margin: 2px;
 }

 @media screen and (max-width: 250px) {
     h1 {
         font-size: 1em;
         line-height: 1.0;
     }
 }

 header h3 {
     margin-top: 30px;
     margin-bottom: 30px;
     font: 18px calibri;
 }

 footer {
     margin-top: 30px;
     padding-top: 70px;
     background-color: #F5F6F7;
 }

 .header {
     font-family: 'Roboto Slab', serif;
     border-bottom: solid 5px blue;
     padding: 0.1em 0 1em 0;
 }

 .header h2 {
     font-size: 18px;
 }
.header h3 {
    font-size: 10px;
}
.pergunta h3 {
    font: 18px calibri;
    font-weight: bold;
}
